<%- include ( './partials/head' ); %>
    <!--ESTILOS PROPIOS-->        
    <title><%- title %> </title>
</head>
<body>
<%- include ( './partials/header' ); %>
<h1>INICIO</h1>




    <%- include ( './partials/footer' ); %>
